* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;

  justify-content: center;
  height: 100vh;
}
h1 {
  text-align: center;
  margin: 3rem 0;
}
.faq {
  width: 700px;
  background-color: bisque;
}
.faq-title {
  border: 1px solid red;
  padding: 1rem 0.5rem;
  cursor: pointer;
}
.faq-answer {
  padding: 1rem 0.5rem;
  display: none;
}
.faq-answer-show {
  display: block;
}
.questions {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
